{% extends "base.html.twig" %}

{% block body %}

    <div class="content_box">
        <h2>Objets Supprimés</h2>
        <hr>


    <div class="container">
        <p class="fs-8">Voici les objets supprimés, vous pouvez les remettre en service grâce au bouton à côté de celui-ci. Sinon ils sont supprimés automatiquement au bout d'un mois après la date de sa suppression.</p>

        <div class="table-responsive">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th>Désignation</th>
                    <th>Supprimé le</th>
                    <th>Restaurer</th>
                </tr>
                </thead>
                <tbody>
                {% for object in objects %}
                    <tr class="table_listing_row">
                        <th scope="row">{{ loop.index }}</th>
                        <td>{{ object.code }} - {{ object.title }}</td>
                        <td>
                            <div class="d-flex flex-column">
                                <span>{{ object.deletedAt|format_datetime('short', 'short', locale="FR") }}</span>
                                <span>par : {{ object.deletedBy.firstname|capitalize|u.truncate(20, '...') }} {{ object.deletedBy.lastname|upper|u.truncate(20, '...') }}</span>
                            </div>
                        </td>
                        <td>
                            <div class="d-flex flex-column">
                                <a href="{{ path('restore_deleted_objects', {id:object.id}) }}" class="btn btn-vodou"><i class="fa-solid fa-trash-can-arrow-up px-2"></i>Restaurer</a>
                                <a href="{{ path('force_deleted_objects', {id:object.id}) }}" class="btn btn-vodou" onclick="alert('Vous allez supprimer définitivement l\'objet : {{ object.code }} - {{ object.title }} et tous ses composants ! Cette action est irréversible !!!')"><i class="fa-solid fa-delete-left px-2"></i></i>Suppr. Définitivement</a>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

        {{ knp_pagination_render(objects) }}
    </div>



    </div>




{% endblock %}
