{% if object is defined %}
    <!-- Modal -->
    <div class="modal fade" id="modalObjectImg{{ object.code }}" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header bg_main">
                    {% if object.id is not null %}
                        <h5 class="modal-title">{{ object.code }} - {{ object.vernacularName.name }}</h5>
                    {% else %}
                        <h5 class="modal-title">Nouvel Objet</h5>
                    {% endif %}

                    <button type="button" class="btn btn-vodou close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true"><i class="fa-solid fa-xmark"></i></span>
                    </button>
                </div>
                <div class="modal-body">
                    <div id="carouselModalObjectImg{{ object.code }}" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-inner">
                            {% for img in object.images %}
                                <div class="carousel-item {{ loop.first ? 'active' }}">
                                    <img class="d-block w-100" src="{{ img.src|image }}" alt="">
                                </div>
                            {% endfor %}
                        </div>
                        {% if object.images|length > 1 %}
                            <a class="carousel-control-prev" href="#carouselModalObjectImg{{ object.code }}" role="button" data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            </a>
                            <a class="carousel-control-next" href="#carouselModalObjectImg{{ object.code }}" role="button" data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            </a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Carousel-->
    <div id="carouselObjectImg" class="carousel slide m-1" data-bs-ride="carousel" data-bs-interval="1500000">
        {% if object is defined and object.images.count > 0 %}
            <div class="carousel-inner">
                {% for img in object.images %}
                    <div class="carousel-item {{ loop.first ? 'active' }} object_img_thumb_container">
                        <div class="d-flex justify-content-center align-items-center h-100 w-100" style="border-radius: 4px">
                            <img data-bs-toggle="modal" data-bs-target="#modalObjectImg{{ object.code }}" src="{{ img.src|image }}" alt="{{ img.src }}">

                            <div class="carousel-caption d-none d-md-block m-0 px-2 py-1">
                                <h5 class="m-0">{{ img.code }}</h5>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            {% if object.images|length > 1 %}
                <a class="carousel-control-prev" href="#carouselObjectImg" role="button" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselObjectImg" role="button" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            {% endif %}
        {% else %}
            <div class="img-ratio" style="--ratio:80%;">
                <div class="img">
                    <img src="{{ asset('upload/defaultsImages/cropped-logo-musee-vodou.png') }}" alt="">
                </div>
            </div>
            <div class="carousel-caption d-none d-md-block">
                <h5 class="m-0">Cet objet n'a pas d'image</h5>
            </div>
        {% endif %}
    </div>
{% endif %}
