<div id="navbarObjectTab" class="navbar_objects d-flex align-items-center flex-wrap" data-controller="objects">

{#    {% if route_name != 'objects_view' %}#}
{#        <a title="Vue fiche" class="tab">#}
{#            {{ object.title|u.truncate(20, '...') }}#}
{#        </a>#}
        <div title="Vue fiche" class="tab-active object_tab_edit"
           data-action="click->objects#setContentObjectTab"
           data-object-tab="vue">
            {% if object is defined and object.id is not null%}
                {{ object.code }} - {{ object.title|u.truncate(20, '...') }}
            {% else %}
                Nouvelle Objet
            {% endif %}
        </div>
{#    {% else %}#}
{#        <div title="Vue fiche" class="tab-active">#}
{#            {{ object.title|u.truncate(20, '...') }}#}
{#        </div>#}
{#    {% endif %}#}







    {% if is_granted('ROLE_MEMBER') %}
        <!--Identification-->
        <div id="object_identification_tab" title="Identification" class="tab object_tab_edit"
             data-action="click->objects#setContentObjectTab"
             data-object-tab="identification">
            Identification
        </div>
        <!--Création-->
        <div id="object_creation_tab" title="Création" class="tab object_tab_edit"
           data-action="click->objects#setContentObjectTab"
           data-object-tab="creation">
            Création
        </div>
        <!--Utilisation-->
        <div id="object_utilisation_tab" title="Utilisation" class="tab object_tab_edit"
             data-action="click->objects#setContentObjectTab"
             data-object-tab="utilisation">
            Utilisation
        </div>
        <!--Etude-->
        <div id="object_etude_tab" title="Etude" class="tab object_tab_edit"
             data-action="click->objects#setContentObjectTab"
             data-object-tab="etude">
            Etude
        </div>
        <!--Documentation-->
        <div id="object_documentation_tab" title="Documentation" class="tab object_tab_edit"
             data-action="click->objects#setContentObjectTab"
             data-object-tab="documentation">
            Documentation
        </div>
        <!--Régie-->
        <div id="object_regie_tab" title="Régie" class="tab object_tab_edit"
             data-action="click->objects#setContentObjectTab"
             data-object-tab="regie">
            Régie
        </div>
        <!--Images-->
        <div id="object_images_tab" title="Images" class="tab object_tab_edit"
             data-action="click->objects#setContentObjectTab"
             data-object-tab="images">
            <i class="fa-solid fa-images"></i>
        </div>
        <!--Vidéos-->
        <div id="object_videos_tab" title="Videos" class="tab object_tab_edit"
             data-action="click->objects#setContentObjectTab"
             data-object-tab="videos">
            <i class="fa-solid fa-film"></i>
        </div>
        <!--Fichiers-->
        <div id="object_files_tab" title="Files" class="tab object_tab_edit"
             data-action="click->objects#setContentObjectTab"
             data-object-tab="files">
            <i class="fa-solid fa-file"></i>
        </div>
        <!--Youtube-->
        <div id="object_youtube_tab" title="Youtube" class="tab object_tab_edit"
             data-action="click->objects#setContentObjectTab"
             data-object-tab="youtube">
            <i class="fa-brands fa-youtube"></i>
        </div>
    {% endif %}



{#    {% if is_granted('ROLE_ADMIN') %}#}
{#        {% if route_name != 'objects_edit' %}#}
{#            <a title="Editer" href="{{ path('objects_edit', {id:object.id}) }}" class="btn tab">#}
{#                <i class="fa-solid fa-pen"></i>#}
{#            </a>#}
{#        {% else %}#}
{#            <div title="Editer" class="p-2 tab-active">#}
{#                <i class="fa-solid fa-pen"></i>#}
{#            </div>#}
{#        {% endif %}#}
{#    {% endif %}#}



    {% if is_granted('ROLE_MEMBER') %}
{#        {% if route_name != 'objects_medias' %}#}

{#        {% else %}#}
{#            <div title="Media" class="tab-active">#}
{#                <i class="fa-solid fa-images"></i>#}
{#                <div class="fs-8 m-0 px-1">( jpg, png, gif )</div>#}
{#            </div>#}

{#        {% endif %}#}

{#        {% if route_name != 'objects_videos' %}#}
{#            <a title="Vidéos" href="{{ path('objects_videos', {id:object.id}) }}" class="tab">#}
{#                <i class="fa-solid fa-film "></i>#}
{#            </a>#}
{#        {% else %}#}
{#            <div title="Vidéos" class="tab-active">#}
{#                <i class="fa-solid fa-film"></i>#}
{#                <div class="fs-8 m-0 px-1">( avi, flv, mov, webm, mp4, wmv, 3gp )</div>#}
{#            </div>#}
{#        {% endif %}#}

{#        {% if route_name != 'objects_youtube' %}#}
{#            <a title="Youtube" href="{{ path('objects_youtube', {id:object.id}) }}" class="tab">#}
{#                <i class="fa-brands fa-youtube"></i>#}
{#            </a>#}
{#        {% else %}#}
{#            <div title="Youtube" class="tab-active">#}
{#                <i class="fa-brands fa-youtube"></i>#}
{#            </div>#}
{#        {% endif %}#}

{#        {% if route_name != 'objects_files' %}#}
{#            <a title="Fichier Annexe" href="{{ path('objects_files', {id:object.id}) }}" class="tab">#}
{#                <i class="fa-solid fa-file"></i>#}
{#            </a>#}
{#        {% else %}#}
{#            <div title="Fichier Annexe" class="tab-active">#}
{#                <i class="fa-solid fa-file"></i>#}
{#                <div class="fs-8 m-0 px-1">( pdf, xls )</div>#}
{#            </div>#}
{#        {% endif %}#}

    {% endif %}

</div>

<!--Seconde ligne-->
{% if object is defined and object.id is not null%}
    <div class="d-flex justify-content-between bg_main py-1" data-controller="bookmark">
        <div class="d-flex">
            <a class="btn btn-vodou btn-vodou-neumorphism" href="{{ app.request.uri }}" id="prev_object" title="Objet précédent de la recherche"><i class="fa-solid fa-chevron-left"></i></a>

            {% if is_granted('ROLE_MEMBER') %}
                <div>
                    <a class="btn btn-vodou btn-vodou-neumorphism" href="{{ path('object_pdf', {id:object.id}) }}" title="extraire en PDF">
                        <i class="fa-solid fa-file-pdf"></i>
                    </a>
                </div>

                <!--Ajout aux favoris Groupé-->
                <div>
                    <a class="btn btn-vodou btn-vodou-neumorphism" data-bs-toggle="modal" data-bs-target="#sharedBookmark" title="Ajouter aux Favoris partagés">
                        <i class="fa-solid fa-star"></i>
                    </a>
                </div>
                {% include 'objects/objects/sharedBookmarks/modal.html.twig' with {object:object} %}
            {% endif %}

            <!--Ajout aux favoris personel-->
            <div>
                <button data-action="click->bookmark#saveBookmark"
                        data-url="{{ path('objects_bookmark', {id:object.id}) }}"
                        class="btn btn-vodou btn-vodou-neumorphism"
                        {% if object.id not in bookmarks %}
                            title="Ajouter aux favoris"
                        {% else %}
                            title="Retirer des favoris"
                        {% endif %}
                >
                    {% if object.id not in bookmarks %}
                        <i  class="fa-regular fa-bookmark"></i>
                    {% else %}
                        <i  class="fa-solid fa-bookmark"></i>
                    {% endif %}
                </button>
            </div>
        </div>
        <div class="d-flex">
            <a class="btn btn-vodou btn-vodou-neumorphism" href="{{ app.request.uri }}" id="next_object" title="Objet suivant de la recherche"><i class="fa-solid fa-chevron-right"></i></a>
        </div>

    </div>
{% endif %}