{% extends "base.html.twig" %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('object') }}
    {{ encore_entry_script_tags('mediaObject') }}
{% endblock %}

{% block body %}

    <div id="objectPage" class="content_box" data-id-object="{{ object.id }}">

        <div class="position-relative">
            {% include 'objects/objects/navbar_objects_link.html.twig' %}
        </div>

        <div class="d-flex flex-column-reverse flex-md-row">

            <div class="col-12 col-md-8">

                <div id="objectElementContent_vue" class="content_box_element">
                    {% if object.id is not null %}
                        <h1>N° {{ object.code }} - {{ object.vernacularName.name }}</h1>
                    {% else %}
                        <h1>Nouvel Objet</h1>
                    {% endif %}

                    <div class="d-flex">
                        <h4>
                            {% if object.typology is defined and object.typology is not null %}
                                {{ object.typology.name }}
                            {% else %}
                                <span class="px-2"><i class="fa-solid fa-ban"></i></span>
                            {% endif %}
                            {% if object.precisionVernacularName is defined and object.precisionVernacularName is not null %}
                                -
                                {{ object.precisionVernacularName.name }}
                            {% endif %}
                        </h4>
                    </div>
                    <div class="col-12">
                        <div class="d-flex">
                            <em>Population :&nbsp;</em>
                            {% if object.population is defined and object.population is not null %}
                                {% for population in object.population %}
                                    {{ population.name }}
                                {% endfor %}
                            {% else %}
                                <span class="px-2"><i class="fa-solid fa-ban"></i></span>
                            {% endif %}
                        </div>
                        <div class="d-flex">
                            <em>Origine :&nbsp;</em>
                            {% if object.origin is defined and object.origin is not null %}
                                {% for origin in object.origin %}
                                    {{ origin.name }}
                                {% endfor %}
                            {% else %}
                                <span class="px-2"><i class="fa-solid fa-ban"></i></span>
                            {% endif %}
                        </div>
                        <div class="d-flex">
                            <em>Divinité :&nbsp;</em>
                            {% if object.gods is defined and object.gods is not null %}
                                {{ object.gods.name }}
                            {% else %}
                                <span class="px-2"><i class="fa-solid fa-ban"></i></span>
                            {% endif %}
                        </div>
                        <div class="d-flex">
                            <em>Divinités associées :&nbsp;</em>
                            {% if object.relatedGods is defined and object.relatedGods is not null %}
                                {% for relatedGod in object.relatedGods %}
                                    {{ relatedGod.name }},
                                {% endfor %}
                            {% else %}
                                <span class="px-2"><i class="fa-solid fa-ban"></i></span>
                            {% endif %}
                        </div>
                        <div class="d-flex">
                            <em>Datation :&nbsp;</em>
                            {% if object.era is defined and object.era is not null %}
                                {{ object.era }}
                            {% else %}
                                <span class="px-2"><i class="fa-solid fa-ban"></i></span>
                            {% endif %}
                        </div>
                        <div class="d-flex">
                            <em>Etat :&nbsp;</em>
                            {% if object.state is defined and object.state is not null %}
                                {{ object.state.name }}
                            {% else %}
                                <span class="px-2"><i class="fa-solid fa-ban"></i></span>
                            {% endif %}
                        </div>
                        <div class="d-flex">
                            <em>Remarque sur l'état :&nbsp;</em>
                            {% if object.stateCommentary is defined and object.stateCommentary is not null %}
                                {{ object.stateCommentary }}
                            {% else %}
                                <span class="px-2"><i class="fa-solid fa-ban"></i></span>
                            {% endif %}
                        </div>
                    </div>
                    <div class="col-12 py-2">
                        <em><u>Fonction d'usage :</u></em>
                        {% if object.usageFonction is defined and object.usageFonction is not null %}
                            {{ object.usageFonction }}
                        {% else %}
                            <span class="px-2"><i class="fa-solid fa-ban"></i></span>
                        {% endif %}
                    </div>
                    <div class="col-12 py-2">
                        <em><u>Description en langage naturel :</u></em>
                        {% if object.naturalLanguageDescription is defined and object.naturalLanguageDescription is not null %}
                            {{ object.naturalLanguageDescription }}
                        {% else %}
                            <span class="px-2"><i class="fa-solid fa-ban"></i></span>
                        {% endif %}
                    </div>
                    <div class="col-12 py-2">
                        <em><u>Inscriptions et marques :</u></em>
                        {% if object.inscriptionsEngraving is defined and object.inscriptionsEngraving is not null %}
                            {{ object.inscriptionsEngraving }}
                        {% else %}
                            <span class="px-2"><i class="fa-solid fa-ban"></i></span>
                        {% endif %}
                    </div>
                    <div class="col-12 py-2">
                        <em><u>Commentaire de documentation :</u></em>
                        {% if object.documentationCommentary is defined and object.documentationCommentary is not null %}
                            {{ object.documentationCommentary }}
                        {% else %}
                            <span class="px-2"><i class="fa-solid fa-ban"></i></span>
                        {% endif %}
                    </div>
                    <div class="col-12 py-2">
                        <em><u>Utilisateurs (producteur/rice, propriétaire, collectionneur/euse) si connus</u></em>
                        {% if object.usageUser is defined and object.usageUser is not null %}
                            {{ object.usageUser }}
                        {% else %}
                            <span class="px-2"><i class="fa-solid fa-ban"></i></span>
                        {% endif %}
                    </div>

                    <hr>

                    <div class="row">
                        <div class="col-6 px-4">
                            <em class="text-center">Publications du Musée :&nbsp;</em>
                            <ul class="px-2">
                                {% if object.museumCatalogue is defined and object.museumCatalogue is not null %}
                                    {% for museumCatalogue in object.museumCatalogue%}
                                        <li style="list-style: none">
                                            <span title="{{ museumCatalogue.name }}">{{ museumCatalogue.name|u.truncate(38, '...') }}</span>
                                            <span class="badge_vodou" title="Nombre d'objets dans la parution">{{ museumCatalogue.objects|length }}</span>
                                        </li>
                                    {% endfor %}
                                {% endif %}
                            </ul>
                        </div>
                        <div class="col-6 px-4">
                            <em>Littérature qui se réfère à l’objet :&nbsp;</em>
                                {% if object.book is defined and object.book is not null %}
                                    <ul class="px-2">
                                        {% for book in object.book%}
                                            <div class="d-flex">
                                                <a class="mx-2" href="{{ path('book', {id: book.id}) }}">
                                                    <i class="fa-solid fa-eye"></i>
                                                </a>
                                                <li style="list-style: none">
                                                    {{ book.title|u.truncate(40, '...') }}
                                                    <span class="badge_vodou" title="Nombre d'objets dans l'ouvrage">{{ book.objects|length }}</span>
                                                </li>
                                            </div>
                                        {% endfor %}
                                    </ul>
                                {% endif %}
                        </div>
                    </div>

                    <hr>

                    <div class="row">
                        <div class="col-12 px-4">
                            <em>Matériaux :&nbsp;</em>
                            {% for material in object.materials %}
                                {{ material.name }} -
                            {% endfor %}
                        </div>
                    </div>

                    <hr>

                    <div class="row">
                        <div class="col-12 col-md-4 px-2">
                            <div class="d-flex">
                                <em>Poids :&nbsp;</em>
                                {% if object.weight is defined and object.weight is not null %}
                                    {{ object.weight }} g
                                {% else %}
                                    <span class="px-2"><i class="fa-solid fa-ban"></i></span>
                                {% endif %}
                            </div>
                            <div class="d-flex">
                                <em>Hauteur :&nbsp;</em>
                                {% if object.sizeHigh is defined and object.sizeHigh is not null %}
                                    {{ object.sizeHigh }} cm
                                {% else %}
                                    <span class="px-2"><i class="fa-solid fa-ban"></i></span>
                                {% endif %}
                            </div>
                            <div class="d-flex">
                                <em>Longueur :&nbsp;</em>
                                {% if object.sizeLength is defined and object.sizeLength is not null %}
                                    {{ object.sizeLength }} cm
                                {% else %}
                                    <span class="px-2"><i class="fa-solid fa-ban"></i></span>
                                {% endif %}
                            </div>
                            <div class="d-flex">
                                <em>Profondeur :&nbsp;</em>
                                {% if object.sizeDepth is defined and object.sizeDepth is not null %}
                                    {{ object.sizeDepth }} cm
                                {% else %}
                                    <span class="px-2"><i class="fa-solid fa-ban"></i></span>
                                {% endif %}
                            </div>
                            <div class="d-flex">
                                <em>Avec socle :&nbsp;</em>
                                {% if object.isBasemented is defined and object.isBasemented is not null %}
                                    {{ object.isBasemented ? 'Oui' : 'Non' }}
                                {% else %}
                                    <span class="px-2"><i class="fa-solid fa-ban"></i></span>
                                {% endif %}
                            </div>
                            <div>
                                <em>Commentaire de Soclage :</em>
                                {% if object.basementCommentary is defined and object.basementCommentary is not null %}
                                    {{ object.basementCommentary }}
                                {% else %}
                                    <span class="px-2"><i class="fa-solid fa-ban"></i></span>
                                {% endif %}
                            </div>
                        </div>
                        {% if is_granted('ROLE_MEMBER') %}
                            <div class="col-12 col-md-4 px-0">
                                <div class="d-flex">
                                    <em>Exposition :&nbsp;</em>
                                    {% if object.expositionLocation is defined and object.expositionLocation is not null %}
                                        {{ object.expositionLocation.nameFR }}
                                    {% else %}
                                        <span class="px-2"><i class="fa-solid fa-ban"></i></span>
                                    {% endif %}
                                </div>
                                <div class="d-flex">
                                    <em>Etage :&nbsp;</em>
                                    {% if object.floor is defined and object.floor is not null %}
                                        {{ object.floor.name }}
                                    {% else %}
                                        <span class="px-2"><i class="fa-solid fa-ban"></i></span>
                                    {% endif %}
                                </div>
                                <div class="d-flex">
                                    <em>N° Vitrine :&nbsp;</em>
                                    {% if object.showcaseCode is defined and object.showcaseCode is not null %}
                                        {{ object.showcaseCode }}
                                    {% else %}
                                        <span class="px-2"><i class="fa-solid fa-ban"></i></span>
                                    {% endif %}
                                </div>
                                <div class="d-flex">
                                    <em>N° Etagère :&nbsp;</em>
                                    {% if object.shelf is defined and object.shelf is not null %}
                                        {{ object.shelf }}
                                    {% else %}
                                        <span class="px-2"><i class="fa-solid fa-ban"></i></span>
                                    {% endif %}
                                </div>
                            </div>

                            <div class="col-12 col-md-4 px-0">
                                <div>
                                    <em>Mode d'acquisition :</em>
                                    {% if object.historicDetail is defined and object.historicDetail is not null %}
                                        {{ object.historicDetail }}
                                    {% else %}
                                        <span class="px-2"><i class="fa-solid fa-ban"></i></span>
                                    {% endif %}
                                </div>
                                <div class="d-flex">
                                    <em>Date d'acquisition :&nbsp;</em>
                                    {% if object.arrivedCollection is defined and object.arrivedCollection is not null %}
                                        {{ object.arrivedCollection|format_datetime(locale='fr',pattern="dd MMMM YYYY") }}
                                    {% else %}
                                        <span class="px-2"><i class="fa-solid fa-ban"></i></span>
                                    {% endif %}
                                </div>
                                <div class="d-flex">
                                    <em>Fiche créee le :&nbsp;</em>
                                    {% if object.createdAt is defined and object.createdAt is not null %}
                                        {{ object.createdAt|format_datetime(locale='fr',pattern="dd MMMM YYYY") }}
                                    {% else %}
                                        <span class="px-2"><i class="fa-solid fa-ban"></i></span>
                                    {% endif %}
                                </div>
                                <div class="d-flex">
                                    <em>Fiche créee par :&nbsp;</em>
                                    {% if object.createdBy is defined and object.createdBy is not null %}
                                        {{ object.createdBy.firstname }} {{ object.createdBy.lastname }}
                                    {% else %}
                                        <span class="px-2"><i class="fa-solid fa-ban"></i></span>
                                    {% endif %}
                                </div>
                                <div class="d-flex">
                                    <em>Dernière modif. le :&nbsp;</em>
                                    {% if object.updatedAt is defined and object.updatedAt is not null %}
                                        {{ object.updatedAt|format_datetime(locale='fr',pattern="dd MMMM YYYY") }}
                                    {% else %}
                                        <span class="px-2"><i class="fa-solid fa-ban"></i></span>
                                    {% endif %}
                                </div>
                                <div class="d-flex">
                                    <em>Récolé le :&nbsp;</em>
                                    {% if object.inventoriedAt is defined and object.inventoriedAt is not null %}
                                        <ul>
                                            {% for inventoryDate in object.inventoriedAt %}
                                               <li>{{ inventoryDate.inventoriedAt|format_datetime(locale='fr',pattern="dd MMMM YYYY") }}</li>
                                            {% endfor %}
                                        </ul>
                                    {% else %}
                                        <span class="px-2"><i class="fa-solid fa-ban"></i></span>
                                    {% endif %}
                                </div>
                            </div>
                        {% endif %}

                    </div>
                </div>

                {% if is_granted('ROLE_MEMBER') %}
                    {% include 'objects/objects/form.html.twig' %}
                {% endif %}
            </div>

            <!--Image Carousel + Modal-->
            <div class="col-12 col-md-4">
                {% include 'objects/objects/carousel_modal_objects.html.twig' %}
            </div>
        </div>

        <div class="position-relative">
            {% include 'objects/objects/navbar_objects_tool_standard.html.twig' %}
        </div>

        {% if is_granted('ROLE_ADMIN') %}
            {% if object is defined and object.id is not null%}
                <div class="danger-zone"></div>

                <div class="d-flex justify-content-end my-4 py-2">
                    <a class="btn btn-vodou" href="{{ path('objects_delete', {id:object.id}) }}" title="Supprimer" onclick="return confirm('Etes vous sûr de vouloir supprimer cet article ?')">
                        <i class="fa-solid fa-trash"></i>
                    </a>
                </div>
            {% endif %}
        {% endif %}
    </div>


    <!-- Modals -->
    <div class="modal fade p-0" id="fileModal" tabindex="-1" role="dialog" aria-labelledby="fileModal" aria-hidden="true">
        <div class="modal-dialog modal-xl" role="document">
            <div class="modal-content" style="height: 100vh">
                <div class="modal-header bg_main">
                    {% if object.id is not null %}
                        <h5 class="modal-title px-5">{{ object.id }} - {{ object.vernacularName.name }}</h5>
                    {% else %}
                        <h5 class="modal-title">Nouvel Objet</h5>
                    {% endif %}
                    <button type="button" class="close btn btn-vodou px-1 py-0" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true" class="fs-3"><i class="fa-solid fa-xmark"></i></span>
                    </button>
                </div>
                <div class="modal-body p-0">
                    {% for file in object.files%}
                        {% if file.extension == "pdf" %}
                            <object type="application/pdf" width="100%" height="100%" data="{{ file.src|file }}"></object>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>


{% endblock %}