<section class="carousel_grab">
    <div class="carousel_grab_items scrollbar">
        {% for object in mostViewedObjects %}
            <div class="item">

                {% for img in object.images %}
                    {% if loop.first %}
                        <img class="d-block" src="{{ img.src|image }}" alt="{{ object.title }}">
                    {% endif %}
                {% endfor %}

                <div class="px-2 py-1">
                    <div>
                        <h5 class="text-center">#{{ object.code }} - {{ object.title|upper|u.truncate(20, '...') }}</h5>
{#                        <p class="elipsis text-wrap" style="--lines:5; height: 141px">{{ blogArticle.abstract|u.truncate(320, '...') }}</p>#}
                    </div>
                    <div>
{#                        <a href="{{ path('blog_view', {slug:blogArticle.slug}) }}">En savoir plus =></a>#}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</section>